<div class="login-container">
  <div class="login-form">
    <h1>Code Particles</h1>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div>
        <label for="email">Email:</label>
        <input id="email" formControlName="email" type="email" />
        <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
          {{ getErrorMessage('email') }}
        </div>
      </div>
      <div>
        <label for="password">Password:</label>
        <input id="password" formControlName="password" type="password" />
        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
          {{ getErrorMessage('password') }}
        </div>
      </div>
      <button type="submit" [disabled]="loginForm.invalid">Login</button>
    </form>
    <div *ngIf="notificationMessage" class="notification" [ngClass]="notificationType">
      {{ notificationMessage }}
  </div>
</div>
